.carousel-container{
  width: 100%;
  max-height: 500px;
  margin: 2rem auto;
}
.carousel-inner img {
    object-fit: contain;
    height: 500px;
  }
  

  .carousel-control-prev,
.carousel-control-next {
  width: 2.5% !important; /* Adjust width as needed */
  background-color: rgba(0, 0, 0, 0.5) !important; /* Background color for visibility */
}